body {
  background: rgb(2, 0, 36);

  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
h1 {
  margin-bottom: 5px;
}

.container {
  text-align: center;
}
.forms {
  display: flex;
  flex-direction: column;
}
/* .inputSenha {
  width: 413px;
  margin: 0 auto;
  max-width: 413px;
} */

input {
  margin: 0 auto;
  width: 400px;
  margin-bottom: 5px;
  margin-top: 8px;
  padding: 15px 5px 15px 5px;
  outline: none;
  border-radius: 7px;
  border: 3px solid transparent;
  cursor: pointer;
}
input:hover {
  border: 3px solid #00caf7;
}

button {
  width: 410px;
  margin: 0 auto;
  padding: 12px 0;
  background: linear-gradient(#0e3d88, #00caf7);
  transition: all 0.2s ease-in-out;
  color: white;
  font-size: 20px;
  margin-top: 10px;
  border-radius: 7px;
  cursor: pointer;
}
button:active {
  opacity: 0.6;
}
button:hover {
  font-size: 22px;
}

@media (max-width: 742px) {
  .container {
    height: 90vh;
  }
  h1 {
    font-size: 22px;
  }
  input {
    width: 300px;
    height: 10px;
  }

  button {
    width: 315px;

    font-size: 12px;
  }
}
